/*--------*/
/* Global */
/*--------*/

/* Allows header to be 100% height */
html, body {
    height: 100%;
}

html {
    // Allows for rems to size similar to px
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
    font: 14px / 1.5 $open-sans;
    font-size: 1.4rem;
    -webkit-font-smoothing: subpixel-antialiased;
    
    @include breakpoint($size-md) {
        font-size: 1.6rem;
    }
}

main {
    display: block;
    
    > section {
        &:first-child {
            padding-top: $small-nav-height + ($space-unit - 15px);
        }
        
        &.no-padding-top:first-child {
            padding-top: $small-nav-height;
        }
        
        &.large-padding-top:first-child {
            padding-top: $small-nav-height + (($space-unit - 15px) * 2);
        }
        
        @include breakpoint($size-md) {
            &:first-child {
                padding-top: $large-nav-height + $space-unit;
            }
            
            &.no-padding-top:first-child {
                padding-top: $large-nav-height;
            }
            
            &.large-padding-top:first-child {
                padding-top: $large-nav-height + ($space-unit * 2);
            }
        }
    }
    
    ul, ol {
        margin-left: 5rem;
    }
}

section {
    position: relative;
    padding: ($space-unit - 15px) 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    &.no-padding-top {
        padding-top: 0;
    }
    
    &.no-padding-bottom {
        padding-bottom: 0;
    }
    
    &.large-padding-top {
        padding-top: ($space-unit - 15px) * 2;
    }
    
    &.large-padding-bottom {
        padding-bottom: ($space-unit - 15px) * 2;
    }
    
    @include breakpoint($size-md) {
        padding: $space-unit 0;
        
        &.large-padding-top {
            padding-top: $space-unit * 2;
        }
    
        &.large-padding-bottom {
            padding-bottom: $space-unit * 2;
        }
    }
}