/*-------------*/
/* Grid System */
/*-------------*/

$columns_num: 12;
$miscellaneous_widths: (1point5: 1.5, 2point4: 2.4);

@mixin make_columns($size) {
    @for $i from 1 through $columns_num {
        .column.#{$size}-span#{$i} {
            @include flex-basis(100% / $columns_num * $i);
            width: 100% / $columns_num * $i;
        }
    }

    @for $i from 0 to $columns_num {
        .column.#{$size}-left#{$i} {
            margin-left: 100% / $columns_num * $i;
        }

        .column.#{$size}-right#{$i} {
            margin-right: 100% / $columns_num * $i;
        }
    }

    @each $name, $value in $miscellaneous_widths {
        .column.#{$size}-span#{$name} {
            @include flex-basis(100% / $columns_num * $value);
            width: 100% / $columns_num * $value;
        }
    
        .column.#{$size}-left#{$name} {
            margin-left: 100% / $columns_num * $value;
        }
    
        .column.#{$size}-right#{$name} {
            margin-right: 100% / $columns_num * $value;
        }
    }
}

.row {
    @extend %clearfix;
    @extend %page-max-width;
    @include display-flex;
    @include flex-wrap(wrap);
}

.column {
    float: left;
    @include flex(0 1 100%);
    min-width: 0;
    
    &.center {
        @include align-self(center);
    }
}

.column-inner {
    position: relative;
    padding: 15px;
    
    @include breakpoint($size-md) {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@include make_columns(xs);

@include breakpoint($size-sm) {
    @include make_columns(sm);
}

@include breakpoint($size-md) {
    @include make_columns(md);
}

@include breakpoint($size-lg) {
    @include make_columns(lg);
}

@include breakpoint($size-xl) {
    @include make_columns(xl);
}