/*-------*/
/* Media */
/*-------*/

iframe {
    display: block;
    max-width: 100%;
}

img {
    display: inline-block;
    @extend %default-border-radius;
    
    &.no-curved-corners {
        border-radius: 0;
    }
}

a img {
    border: 0;
}

img, svg {
    max-width: 100%;
    height: auto;
}

.vector-container {
    position: relative;
    height: 0;
    
    svg {
        position: absolute;
        right: 0;
        left: 0;
    }
}