//--------//
// Mixins //
//--------//

@mixin box-shadow($shadow...) {
    -webkit-box-shadow: $shadow;
    box-shadow:         $shadow;
}

// usage: @include breakpoint(480px) { your styles here }
@mixin breakpoint($point) {
    @media all and (min-width: $point) {
        @content;
    }
}

%clearfix {
    &:after {
        clear: both;
        display: table;
        content: " ";
    }
}

%default-border-radius {
    border-radius: 5px;
}

@mixin filter($filter) {
    -webkit-filter: $filter;
    filter: $filter;
}

%page-max-width {
    max-width: $max-width;
    margin: 0 auto;
}

@mixin transform($property) {
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

@mixin transition($property...) {
    -webkit-transition: $property;
    transition: $property;
}

// Works IE9+
@mixin vertical-center-fix {
    position: relative;
    top: 50%;
    @include transform(translate(0, -50%)  translateZ(0));
}

// Flexbox

@mixin align-content($align) {
    -webkit-align-content: $align;
    -ms-align-content: $align;
    align-content: $align;
}

@mixin align-items($align) {
    -webkit-align-items: $align;
    -ms-align-items: $align;
    align-items: $align;
}

@mixin align-self($align) {
    -webkit-align-self: $align;
    -ms-align-self: $align;
    align-self: $align;
}

@mixin display-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@mixin flex($flex) {
    -webkit-flex: $flex;
    -ms-flex: $flex;
    flex: $flex;
}

@mixin flex-basis($basis) {
    -webkit-flex-basis: $basis;
    -ms-flex-basis: $basis;
    flex-basis: $basis;
}

@mixin flex-direction($direction) {
    -webkit-flex-direction: $direction;
    -ms-flex-direction: $direction;
    flex-direction: $direction;
}

@mixin flex-flow($flow) {
    -webkit-flex-flow: $flow;
    -ms-flex-flow: $flow;
    flex-flow: $flow;
}

@mixin flex-grow($grow) {
    -webkit-flex-grow: $grow;
    -ms-flex-grow: $grow;
    flex-grow: $grow;
}

@mixin flex-shrink($shrink) {
    -webkit-flex-shrink: $shrink;
    -ms-flex-shrink: $shrink;
    flex-shrink: $shrink;
}

@mixin flex-wrap($wrap) {
    -webkit-flex-wrap: $wrap;
    -ms-flex-wrap: $wrap;
    flex-wrap: $wrap;
}

@mixin justify-content($justify) {
    -webkit-justify-content: $justify;
    -ms-justify-content: $justify;
    justify-content: $justify;
}

@mixin order($order) {
    -webkit-order: $order;
    -ms-order: $order;
    order: $order;
}