/*------------*/
/* Typography */
/*------------*/

h1, h2, h3, h4, h5, h6, p, li, th, td {
    font-family: $open-sans;
}

h1, h2, h3, h4, h5, h6, ul, ol {
    margin: 1rem 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 2rem;
    line-height: 1.4;
    
    &:first-child {
        margin-top: 0;
    }
}

h1, h2, h3 {
    letter-spacing: 0.1rem;
}

h1, h2 {
    font-weight: $light;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2rem;
    font-weight: $normal;
}

h4, h5 {
    font-weight: $semibold;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.6rem;
}

h6 {
    font-size: 1.2rem;
    font-weight: $normal;
}

p, li, th, td {
    font-size: 1.4rem;
}

p, li, td {
    font-weight: $normal;
}

p {
    margin: 2rem 0;
    line-height: 2;
}

li {
    margin: 0.5rem 0;
}

small {
    font-size: 80%;
}

pre {
    padding: 1rem;
    background-color: $light-gray;
}

hr {
    margin: 2rem 0;
    border: 0;
    border-bottom: solid 1px $medium-gray;
}

a {
    @include transition(all 0.4s ease);
    text-decoration: none;
}

@include breakpoint($size-md) {
    h1, h2, h3, h4, h5, h6, ul, ol {
        margin: 2rem 0;
    }
    
    h1, h2, h3, h4, h5, h6 {
        margin-top: 3rem;
    }
    
    h1 {
        font-size: 5rem;
    }
    
    h2 {
        font-size: 4rem;
    }
    
    h3 {
        font-size: 2.5rem;
    }
    
    h4 {
        font-size: 2rem;
    }
    
    h5 {
        font-size: 1.8rem;
    }
    
    h6 {
        font-size: 1.4rem;
    }
    
    p, li, th, td {
        font-size: 1.6rem;
    }
    
    hr {
        margin: 3rem 0;
    }
}

@include breakpoint($size-lg) {
    h1 {
        font-size: 6rem;
    }
    
    h2 {
        font-size: 4.8rem;
    }
    
    h3 {
        font-size: 2.8rem;
    }
    
    h4 {
        font-size: 2.4rem;
    }
    
    p, li, th, td {
        font-size: 1.8rem;
    }
}