/*-----------------*/
/* Utility Classes */
/*-----------------*/

%puzzle-button {
    @include transition (all 0.4s ease);
    @extend %default-border-radius;
    display: inline-block;
    padding: 1rem 1.5rem;
    background-color: $medium-gray;
    border: solid 1px $medium-gray;
    color: #fff;
    text-align: center;
    text-decoration: none;
    
    &:hover {
        color: #fff;
    }
}

.puzzle-button {
    @extend %puzzle-button;
    
    &.puzzle-button-white, &.puzzle-button-transparent:hover {
        background-color: #fff;
        border-color: #fff;
    }
    
    &.puzzle-button-black {
        background-color: #000;
        border-color: #000;
    }
    
    &.puzzle-button-transparent {
        background-color: transparent;
        border-color: #fff;
    }
    
    &.puzzle-button-has-icon {
        position: relative;
        padding-right: 20px;
        
        &:before {
            position: absolute;
            right: 8px;
            display: inline-block;
            font-family: 'FontAwesome';
            content: '\f01a';
        }
    }
}

.primary-color-background {
    .puzzle-button {
        &.puzzle-button-white {
            background-color: #fff;
            border-color: #fff;
        }
        
        &.puzzle-button-black {
            background-color: #000;
            border-color: #000;
        }
        
        &.puzzle-button-transparent {
            background-color: transparent;
            border-color: #fff;
        }
    }
}

.circle-button-container {
    position: relative;
    padding: 5px;
    text-align: center;
    
    h4 {
        margin: 1rem 0 0;
    }

    @include breakpoint($size-sm) {
        padding: 10px;
    }
}
    
.circle-button {
    position: relative;
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
    height: 0;
    padding: 50% 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    @include transition(all 0.4s ease);
    
    .circle-button-content {
        @include flex(0 1 70%);
    }
    
    &.light-text-color-scheme {
        .fa {
            color: #fff;
        }
    }
    
    &, .puzzle-background-overlay, .puzzle-full-cover-link {
        border-radius: 50%;
    }
    
    .puzzle-background-overlay {
        opacity: 0.5;
        @include transition(all 0.4s ease);
    }
    
    &:hover .puzzle-background-overlay {
        opacity: 0.1;
    }
}

.puzzle-full-cover-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}