//-----------//
// Variables //
//-----------//

$size-sm: 480px;
$size-md: 660px;
$size-lg: 850px;
$size-xl: 1024px;

$max-width: 1100px;
$space-unit: 35px;
$small-space-unit: 20px;
$text-space-unit: 1rem;
$small-nav-height: 60px;
$large-nav-height: 80px;

$open-sans: 'Open Sans', sans-serif;

$hairline: 100;
$thin: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;

$light-gray: #eee;
$medium-gray: #aaa;
$dark-gray: #555;