/*------------------------------*/
/* Wordpress - Required Classes */
/*------------------------------*/

.aligncenter, .alignleft, .alignright {
    display: block;
    margin: ($text-space-unit * 2) auto;
}

@include breakpoint($size-md) {
    .alignleft, .alignright {
        max-width: 50%;
        margin-top: 0;
    }
    
    .alignleft {
        float: left;
        clear: right;
        margin-right: $text-space-unit * 2;
    }

    .alignright {
        float: right;
        clear: left;
        margin-left: $text-space-unit * 2;
    }
}

.bypostauthor {
    background-color: $light-gray;
}

.sticky {
    background-color: $light-gray;
}

.wp-caption {
    background-color: $light-gray;
    padding: $text-space-unit;
}

.wp-caption-text, .gallery-caption {
    text-align: center;
}

/* Other Wordpress classes (not required to style) */

.categories {
    display: inline-block;
    margin: 0;
    list-style: none;
    
    .cat-item {
        display: inline-block;
        margin: 5px 5px 5px 0;
        font-size: inherit;
        
        a {
            display: block;
            padding: 5px 10px;
        }
    }
}

#wp-calendar {
    width: 100%;
    text-align: center;
}

.wp-post-image {
    box-sizing: content-box;
}

#sidebar, .searchform {
    .screen-reader-text {
        display: none;
    }
}