#game_options, #news_story_options, #team_options {
    * {
        box-sizing: border-box;
    }
    
    ::-webkit-input-placeholder {
        font-style: italic;
        color: #ddd;
    }

    ::-moz-placeholder {
        font-style: italic;
        color: #ddd;
    }

    :-ms-input-placeholder {
        font-style: italic;
        color: #ddd; 
    }
    
    input:not([type='submit']), select, textarea {
        width: 100%;
    }
    
    img[src=''] {
        display: none;
    }
    
    .column {
        padding-right: 10px;
    }
}

#wbg_shortcode_form {
    margin: 0;
    background: transparent;
    border: 0;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    
    > *:not(.inside) {
        display: none;
    }
    
    .inside {
        margin: 0;
        padding: 0;
    }
}