@import '_global/_variables';
@import '_global/_mixins';
@import '_global/_utility';
@import '_global/_grid/_variables';
@import '_global/_grid/_mixins';
@import '_global/_grid/_grid';

#game_options, #news_story_options, #team_options {
    * {
        box-sizing: border-box;
    }
    
    ::-webkit-input-placeholder {
        font-style: italic;
        color: #ddd;
    }

    ::-moz-placeholder {
        font-style: italic;
        color: #ddd;
    }

    :-ms-input-placeholder {
        font-style: italic;
        color: #ddd; 
    }
    
    input, select, textarea {
        width: 100%;
    }
    
    input {
        &[type='checkbox'], &[type='radio'], &[type='button'], &[type='submit'] {
            width: auto;
        }
    }
    
    img {
        max-width: 100%;
        height: auto;
        
        &[src=''] {
            display: none;
        }
    }
    
    .col {
        padding-right: 10px;
    }
}

#team_options {
    .added-columns {
        .col {
            padding: 5px;
            border: solid 1px $medium-gray;
            background-color: $light-gray;
        }
        
        .puzzle-collapsable-menu {
            @extend %clearfix;
            margin: 0 0 10px;
        
            .fa {
                @extend %default-transition;
                display: block;
                width: 30px;
                height: 30px;
                font-size: 24px;
                line-height: 30px;
                text-align: center;
                cursor: pointer;
            }
        
            h5 {
                float: left;
                width: calc(100% - 60px);
                margin: 0;
                padding: 0 5px;
                font-size: 16px;
                line-height: 30px;
            }

            .fa-close {
                float: right;
                background-color: $medium-gray;
                border-radius: 50%;
                color: #fff;
            
                &:hover {
                    background-color: $dark-gray;
                }
            }
        }
    }
}
