/*-------*/
/* Forms */
/*-------*/

form {
    @extend %clearfix;
    
    p {
        @extend %clearfix;
    }
}

label {
    display: block;
    font-weight: $bold;
    line-height: 1.5;
}

input:not([type='submit']), select, textarea {
    @include opacity(0.75);
    @extend %default-border-radius;
    width: 100%;
    margin: 2px 0 10px 0;
    margin: 0.2rem 0 1rem 0;
    padding: 5px 10px;
    border: solid 2px rgba(#000, 0.1);
    font: 16px / 1.5 $font-family-open-sans;
    font-size: 1.6rem;
    
    &:focus {
        @include opacity(1);
    }
}

input:not([type='submit']), select {
    height: 38px;
    height: 3.8rem;
}

input {
    &[type='checkbox'], &[type='radio'], &[type='submit'] {
        width: auto;
    }
    
    &[type='checkbox'], &[type='radio'] {
        height: auto;
    }
}

input[type='submit'] {
    @extend .wbg-button;
    float: right;
    width: 200px;
    max-width: 50%;
    font-size: 20px;
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;
}

select {
    -webkit-appearance: none;
}

textarea {
    max-width: 100%;
}

select {
    background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 30" enable-background="new 0 0 18 30" xml:space="preserve"><path fill="%23999999" d="M17.8,8.8c0,0.3-0.1,0.6-0.3,0.8c-0.2,0.2-0.5,0.3-0.8,0.3H1.3C1,9.9,0.8,9.7,0.6,9.5 C0.3,9.3,0.2,9.1,0.2,8.8c0-0.3,0.1-0.6,0.3-0.8l7.7-7.7C8.4,0.1,8.7,0,9,0c0.3,0,0.6,0.1,0.8,0.3L17.4,8 C17.7,8.2,17.8,8.5,17.8,8.8z"/><path fill="%23999999" d="M17.4,20.5c0.2,0.2,0.3,0.5,0.3,0.8c0,0.3-0.1,0.6-0.3,0.8l-7.7,7.7C9.6,29.9,9.3,30,9,30 c-0.3,0-0.6-0.1-0.8-0.3L0.6,22c-0.2-0.2-0.3-0.5-0.3-0.8c0-0.3,0.1-0.6,0.3-0.8c0.2-0.2,0.5-0.3,0.8-0.3h15.3 C17,20.1,17.2,20.3,17.4,20.5z"/></svg>');
    background-position: right 4px center;
    background-repeat: no-repeat;
    background-size: 12px;
}