/*--------*/
/* Global */
/*--------*/

html, body {
    height: 100%;
}

html {
    // Allows for rems to size similar to px
    font-size: 62.5%;
}

body {
    font: 16px / 1.5 $font-family-open-sans;
    font-size: 1.6rem;
}

main {
    display: block;
    
    > section {
        padding-top: 40px;
        padding-bottom: 40px;
        
        &:first-child {
            padding-top: 100px;
        }
    
        ul, ol {
            margin-left: 30px;
        }
    }
}

.home main > section:first-child {
    padding-top: 40px;
}

section {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

hr {
    border: 0;
    border-bottom: solid 1px #000;
}

iframe {
    display: block;
    max-width: 100%;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a img {
    border: 0;
}