//--------//
// Mixins //
//--------//

%clearfix {
	&:after {
        display: block;
        visibility: hidden;
        clear: both;
        height: 0;
        font-size: 0;
        content: " ";
	}
}

%default-border-radius {
    border-radius: 10px;
}

@mixin opacity($n) {
    $ie-n: $n * 100;
    // IE 8
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + $ie-n + ")";
    // IE 5-7
    filter: alpha(opacity=$ie-n);
    // Good browswers
    opacity: $n;
}

%page-max-width {
    max-width: $max-width;
    margin: 0 auto;
}

@mixin transition($property, $duration, $timing-function) {
    -webkit-transition: $property $duration $timing-function;
    transition: $property $duration $timing-function;
}

// Works IE9+
%vertical-center-fix {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%) perspective(1px);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%) perspective(1px);
}

// Flexbox

%display-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

%flex-none {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

@mixin flex($flex-grow, $flex-shrink, $flex-basis) {
    -webkit-flex: $flex-grow $flex-shrink $flex-basis;
    -ms-flex: $flex-grow $flex-shrink $flex-basis;
    flex: $flex-grow $flex-shrink $flex-basis;
}

@mixin flex-direction($flex-direction) {
    -webkit-flex-direction: $flex-direction;
    -ms-flex-direction: $flex-direction;
    flex-direction: $flex-direction;
}

@mixin flex-wrap($flex-wrap) {
    -webkit-flex-wrap: $flex-wrap;
    -ms-flex-wrap: $flex-wrap;
    flex-wrap: $flex-wrap;
}