/*------*/
/* Text */
/*------*/

@font-face {
    font-family: 'Futura MdCn BT';
    src: url(../fonts/TT0201M.TTF) format("truetype");
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: $light;
    src: url(../fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: $normal;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: $semibold;
    src: url(../fonts/OpenSans-Semibold.ttf);
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: $bold;
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: $extrabold;
    src: url(../fonts/OpenSans-Extrabold.ttf);
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: $light;
    src: url(../fonts/OpenSans-LightItalic.ttf);
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: $normal;
    src: url(../fonts/OpenSans-Italic.ttf);
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: $semibold;
    src: url(../fonts/OpenSans-SemiboldItalic.ttf);
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: $bold;
    src: url(../fonts/OpenSans-BoldItalic.ttf);
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: $extrabold;
    src: url(../fonts/OpenSans-ExtraboldItalic.ttf);
}

h1, h2, h3, h4, h5, h6, ul, ol {
	margin: 10px 0;
    margin: 1rem 0;
}

h1, h2, h3, h4, h5, h6 {
    a {
        text-decoration: none;
    }
}

h1, h2, h5 {
    text-transform: uppercase;
}

h1, h2 {
    font-family: $font-family-futura-condensed;
    line-height: 1.25;
    color: $wbg-blue2;
}

h1 {
    font-size: 50px;
    font-size: 5rem;
}

h2 {
    font-size: 40px;
    font-size: 4rem;
}

h3, h4, h5, h6, li, th, td {
    font-family: $font-family-open-sans;
    line-height: 1.5;
    font-weight: $semibold;
    color: #444;
}

h3 {
    font-size: 25px;
    font-size: 2.5rem;
}

h4 {
    font-size: 20px;
    font-size: 2rem;
}

h5 {
    font-size: 18px;
    font-size: 1.8rem;
}

h6 {
    font-size: 16px;
    font-size: 1.6rem;
}

p, li, th, td {
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: $normal;
}

p {
    margin: 15px 0;
    margin: 1.5rem 0;
    line-height: 1.75;
}

li {
    margin: 5px 0;
    margin: 0.5rem 0;
}

hr {
    height: 5px;
    margin: 20px 0;
    background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="11px" height="5px" viewBox="0 0 11 5" enable-background="new 0 0 11 5" xml:space="preserve"><circle fill="%23344482" cx="2.5" cy="2.5" r="2.5"/></svg>');
    border: none;
}

a {
    @include transition(all, 0.4s, ease);
    color: $wbg-blue;
    
    &:hover, &:active {
        color: $wbg-light-blue;
    }
}

.light-text, .dark-text .light-text {
    h1, h2, h3, h4, h5, h6, p, th, td, li, a {
        color: #fff;
    }
    
    a.wbg-button {
        &, &:hover, &:active {
            color: #fff;
        }
    }
    
    a:hover, a:active {
        color: $wbg-light-blue;
    }
    
    hr {
        background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="11px" height="5px" viewBox="0 0 11 5" enable-background="new 0 0 11 5" xml:space="preserve"><circle fill="%23aabbcc" cx="2.5" cy="2.5" r="2.5"/></svg>');
    }
}

.dark-text, .light-text .dark-text {
    h1, h2 {
        color: $wbg-blue2;
    }
    
    h3, h4, h5, h6, p, th, td, li {
        color: #444;
    }
    
    a {
        color: $wbg-blue;
        
        &.wbg-button {
            &, &:hover, &:active {
                color: #fff;
            }
        }
    
        &:hover, &:active {
            color: $wbg-light-blue;
        }
    }
}