/*-----------------*/
/* Utility Classes */
/*-----------------*/

.wbg-button {
    @include transition (all, 0.4s, ease);
    @extend %default-border-radius;
    display: inline-block;
    padding: 10px 15px;
    background-color: $wbg-blue;
    border: 0;
    color: #fff;
    letter-spacing: 1px;
    letter-spacing: 0.1rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    
    &:hover, &:active {
        background-color: lighten($wbg-blue, 20%);
        color: #fff;
    }
    
    &.wbg-large-button {
        width: 100%;
        padding: 15px 30px;
        font-size: 24px;
        font-size: 2.4rem;
    }
}

.row {
    @extend %clearfix;
    @extend %page-max-width;
}

.column {
	float: left;
    
    &.center {
        float: none;
        margin: 0 auto;
    }
}

@for $i from 1 through 12 {
	.column.xs-span#{$i} {
		width: 100% / 12 * $i;
	}
}

@for $i from 0 through 12 {
	.column.xs-left#{$i} {
		margin-left: 100% / 12 * $i;
	}

	.column.xs-right#{$i} {
		margin-right: 100% / 12 * $i;
	}
}

@media screen and (min-width: $size-sm) {
    @for $i from 1 through 12 {
    	.column.sm-span#{$i} {
    		width: 100% / 12 * $i;
    	}
    }
    
    @for $i from 0 through 12 {
    	.column.sm-left#{$i} {
    		margin-left: 100% / 12 * $i;
    	}

    	.column.sm-right#{$i} {
    		margin-right: 100% / 12 * $i;
    	}
    }
}

@media screen and (min-width: $size-md) {
    @for $i from 1 through 12 {
    	.column.md-span#{$i} {
    		width: 100% / 12 * $i;
    	}
    }
    
    @for $i from 0 through 12 {
    	.column.md-left#{$i} {
    		margin-left: 100% / 12 * $i;
    	}

    	.column.md-right#{$i} {
    		margin-right: 100% / 12 * $i;
    	}
    }
}

@media screen and (min-width: $size-lg) {
    @for $i from 1 through 12 {
    	.column.lg-span#{$i} {
    		width: 100% / 12 * $i;
    	}
    }
    
    @for $i from 0 through 12 {
    	.column.lg-left#{$i} {
    		margin-left: 100% / 12 * $i;
    	}

    	.column.lg-right#{$i} {
    		margin-right: 100% / 12 * $i;
    	}
    }
}