//-----------//
// Variables //
//-----------//

$size-sm: 480px;
$size-md: 660px;
$size-lg: 850px;
$size-xl: 1000px;

$max-width: 1000px;

$font-family-futura-condensed: 'Futura MdCn BT', sans-serif;
$font-family-open-sans: 'Open Sans', sans-serif;

$light: 300;
$normal: 400;
$semibold: 600;
$bold: 700;
$extrabold: 800;

$light-gray: #eee;
$medium-gray: #aaa;
$wbg-blue: #323090;
$wbg-blue2: #344482;
$wbg-dark-blue: darken($wbg-blue2, 10%);
$wbg-light-blue: #abc;
$wbg-yellow: #ffff88;