/*------------------*/
/* Single Post Page */
/*------------------*/

.single-post-meta {
    h4, h6 {
        margin: ($text-space-unit / 2) 0;
    }
}

.single-post-content, .single-news-content {
    margin: $small-space-unit 0;
    padding: $small-space-unit 0;
    border-top: solid 1px $medium-gray;
    
    @include breakpoint($size-md) {
        margin: $space-unit 0;
        padding: $space-unit 0;
    }
}

.single-post-content.comments-open, .single-news-content.has-news-link {
    border-bottom: solid 1px $medium-gray;
}

.single-post-page-links {
    font-weight: $bold;
    
    span {
        display: inline-block;
        padding: 0 1rem;
        background-color: $medium-gray;
    }
    
    a {
        display: inline-block;
        background-color: $light-gray;
        
        span {
            background-color: transparent;
        }
    }
}