/*------------------*/
/* Single Game Page */
/*------------------*/

.header-game-logo {
    @include display-flex;
    @include align-items(center);
    width: 105px;
    height: 105px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 50%;
    background-color: rgba($dark-gray, 0.75);
    
    .vector-container {
        @include flex(0 1 100%);
        
        svg {
            @include filter(drop-shadow(0 0 3px rgba(#000, 0.3)));
        
            path, polygon {
                fill: #fff;
            }
        }
    }
    
    @include breakpoint($size-sm) {
        width: 160px;
        height: 160px;
        padding: 20px;
    }
    
    @include breakpoint($size-md) {
        width: 200px;
        height: 200px;
        padding: 30px;
    }
    
    @include breakpoint($size-lg) {
        width: 400px;
        height: 400px;
        padding: 60px;
    }
}

.game-buttons {
    @include display-flex;
    @include justify-content(center);
    margin-bottom: 3rem;
    
    .circle-button-container {
        @include flex(0 1 50%);
        padding: 5px;
        
        @include breakpoint($size-sm) {
            padding: 10px;
        }
    }
    
    .circle-button-content {
        position: relative;
        top: -2px;
        @include flex-basis(100%);
        
        .fa {
            font-size: 48px;
            
            @include breakpoint($size-md) {
                font-size: 72px;
            }
        }
        
        h4, h5 {
            line-height: 1.1;
            margin: 0;
        }
        
        h4 {
            text-transform: uppercase;
        }
        
        h5 {
            width: 70%;
            margin: 0 auto;
        }
    }
}

.game-details {
    padding: 10px 25px;
    @extend %default-border-radius;
    
    p {
        margin: 0.5rem;
        font-size: 1.2rem;
        line-height: 1.5;
        
        @include breakpoint($size-md) {
            font-size: 1.4rem;
        }
        
        @include breakpoint($size-lg) {
            font-size: 1.6rem;
        }
    }
}