/*-----------------*/
/* Utility Classes */
/*-----------------*/
/*
 * Rectangular buttons
 */
.wbg-button-small, .wbg-button-large, .wbg-button {
  top: 0;
  bottom: 0.5rem;
  margin: 0.3rem 0;
  padding: 1rem 3rem 1.5rem;
  -webkit-box-shadow: 0 -0.5rem 0 rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 -0.5rem 0 rgba(0, 0, 0, 0.3) inset;
  position: relative;
  top: 0;
  display: inline-block;
  border: 0;
  background-color: #aaa;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease; }
  .wbg-button-small:active, .wbg-button-large:active, .wbg-button:active {
    top: 0.5rem;
    bottom: 0;
    margin-bottom: 0.8rem;
    padding-bottom: 1rem;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3) inset; }
  .wbg-button-small:hover, .wbg-button-large:hover, .wbg-button:hover {
    color: #fff; }
  @media all and (min-width: 660px) {
    .wbg-button-small, .wbg-button-large, .wbg-button {
      font-size: 2rem; } }
  @media all and (min-width: 850px) {
    .wbg-button-small, .wbg-button-large, .wbg-button {
      font-size: 2.4rem; } }

.wbg-button-small {
  top: 0;
  bottom: 0.4rem;
  margin: 0.3rem 0;
  padding: 0.8rem 2.5rem 1.2rem;
  -webkit-box-shadow: 0 -0.4rem 0 rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 -0.4rem 0 rgba(0, 0, 0, 0.3) inset;
  font-size: 1.4rem; }
  .wbg-button-small:active {
    top: 0.4rem;
    bottom: 0;
    margin-bottom: 0.7rem;
    padding-bottom: 0.8rem;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3) inset; }

.wbg-button-large {
  top: 0;
  bottom: 0.7rem;
  margin: 0.3rem 0;
  padding: 1rem 4rem 1.7rem;
  -webkit-box-shadow: 0 -0.7rem 0 rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 -0.7rem 0 rgba(0, 0, 0, 0.3) inset;
  margin-top: 2.5rem;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase; }
  .wbg-button-large:active {
    top: 0.7rem;
    bottom: 0;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3) inset; }

@media all and (min-width: 660px) {
  .wbg-button-small {
    font-size: 1.6rem; }

  .wbg-button-large {
    font-size: 2.6rem; } }
@media all and (min-width: 850px) {
  .wbg-button-small {
    font-size: 1.8rem; }

  .wbg-button-large {
    font-size: 3.6rem; } }
.wbg-button.wbg-button-black {
  background-color: #555; }

.wbg-button-large {
  border-radius: 15px; }

.secondary-background .wbg-button.wbg-button-black, .alternative-background .wbg-button.wbg-button-black {
  background-color: #555; }

/*
 * Circular buttons
 */
.circle-button-container {
  position: relative;
  text-align: center; }
  .circle-button-container h4 {
    margin: 1.5rem 0 0; }

.circle-button-container:hover .circle-button, .circle-button:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05); }
  .circle-button-container:hover .circle-button .puzzle-background-overlay, .circle-button:hover .puzzle-background-overlay {
    opacity: 0.05; }

.circle-button-container:hover, .circle-button-container:hover a, .circle-button:hover, .circle-button:hover a {
  z-index: 1; }

.circle-button {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 0;
  padding: 50% 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .circle-button, .circle-button * {
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d; }
  .circle-button .circle-button-content {
    position: relative;
    -webkit-flex: 0 1 70%;
    -ms-flex: 0 1 70%;
    flex: 0 1 70%; }
  .circle-button.light-text-color-scheme .fa {
    color: #fff; }
  .circle-button, .circle-button .puzzle-background-overlay, .circle-button .puzzle-full-cover-link {
    border-radius: 50%; }
  .circle-button .puzzle-background-overlay {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform-style: flat; }

/*
 * Miscellaneous
 */
.puzzle-full-cover-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

#team_options .added-columns .puzzle-collapsable-menu:after {
  clear: both;
  display: table;
  content: " "; }

.wbg-button-small, .wbg-button-large, .wbg-button {
  border-radius: 10px; }

#game_options *, #news_story_options *, #team_options * {
  box-sizing: border-box; }
#game_options ::-webkit-input-placeholder, #news_story_options ::-webkit-input-placeholder, #team_options ::-webkit-input-placeholder {
  font-style: italic;
  color: #ddd; }
#game_options ::-moz-placeholder, #news_story_options ::-moz-placeholder, #team_options ::-moz-placeholder {
  font-style: italic;
  color: #ddd; }
#game_options :-ms-input-placeholder, #news_story_options :-ms-input-placeholder, #team_options :-ms-input-placeholder {
  font-style: italic;
  color: #ddd; }
#game_options input, #game_options select, #game_options textarea, #news_story_options input, #news_story_options select, #news_story_options textarea, #team_options input, #team_options select, #team_options textarea {
  width: 100%; }
#game_options input[type='checkbox'], #game_options input[type='radio'], #game_options input[type='button'], #game_options input[type='submit'], #news_story_options input[type='checkbox'], #news_story_options input[type='radio'], #news_story_options input[type='button'], #news_story_options input[type='submit'], #team_options input[type='checkbox'], #team_options input[type='radio'], #team_options input[type='button'], #team_options input[type='submit'] {
  width: auto; }
#game_options img[src=''], #news_story_options img[src=''], #team_options img[src=''] {
  display: none; }
#game_options .column, #news_story_options .column, #team_options .column {
  padding-right: 10px; }

#wbg_shortcode_form {
  margin: 0;
  background: transparent;
  border: 0;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent; }
  #wbg_shortcode_form > *:not(.inside) {
    display: none; }
  #wbg_shortcode_form .inside {
    margin: 0;
    padding: 0; }

#team_options .added-columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  #team_options .added-columns .column {
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    padding: 5px;
    border: solid 1px #aaa;
    background-color: #eee; }
  #team_options .added-columns .puzzle-collapsable-menu {
    margin: 0 0 10px; }
    #team_options .added-columns .puzzle-collapsable-menu .fa {
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
      display: block;
      width: 30px;
      height: 30px;
      font-size: 24px;
      line-height: 30px;
      text-align: center;
      cursor: pointer; }
    #team_options .added-columns .puzzle-collapsable-menu h5 {
      float: left;
      width: calc(100% - 60px);
      margin: 0;
      padding: 0 5px;
      font-size: 16px;
      line-height: 30px; }
    #team_options .added-columns .puzzle-collapsable-menu .fa-close {
      float: right;
      background-color: #aaa;
      border-radius: 50%;
      color: #fff; }
      #team_options .added-columns .puzzle-collapsable-menu .fa-close:hover {
        background-color: #555; }

/*# sourceMappingURL=admin-styles.css.map */
