#team_options .added-columns .puzzle-collapsable-menu:after {
  clear: both;
  display: table;
  content: " "; }

#game_options *, #news_story_options *, #team_options * {
  box-sizing: border-box; }
#game_options ::-webkit-input-placeholder, #news_story_options ::-webkit-input-placeholder, #team_options ::-webkit-input-placeholder {
  font-style: italic;
  color: #ddd; }
#game_options ::-moz-placeholder, #news_story_options ::-moz-placeholder, #team_options ::-moz-placeholder {
  font-style: italic;
  color: #ddd; }
#game_options :-ms-input-placeholder, #news_story_options :-ms-input-placeholder, #team_options :-ms-input-placeholder {
  font-style: italic;
  color: #ddd; }
#game_options input, #game_options select, #game_options textarea, #news_story_options input, #news_story_options select, #news_story_options textarea, #team_options input, #team_options select, #team_options textarea {
  width: 100%; }
#game_options input[type='checkbox'], #game_options input[type='radio'], #game_options input[type='button'], #game_options input[type='submit'], #news_story_options input[type='checkbox'], #news_story_options input[type='radio'], #news_story_options input[type='button'], #news_story_options input[type='submit'], #team_options input[type='checkbox'], #team_options input[type='radio'], #team_options input[type='button'], #team_options input[type='submit'] {
  width: auto; }
#game_options img[src=''], #news_story_options img[src=''], #team_options img[src=''] {
  display: none; }
#game_options .column, #news_story_options .column, #team_options .column {
  padding-right: 10px; }

#wbg_shortcode_form {
  margin: 0;
  background: transparent;
  border: 0;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent; }
  #wbg_shortcode_form > *:not(.inside) {
    display: none; }
  #wbg_shortcode_form .inside {
    margin: 0;
    padding: 0; }

#team_options .added-columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  #team_options .added-columns .column {
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    padding: 5px;
    border: solid 1px #aaa;
    background-color: #eee; }
  #team_options .added-columns .puzzle-collapsable-menu {
    margin: 0 0 10px; }
    #team_options .added-columns .puzzle-collapsable-menu .fa {
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
      display: block;
      width: 30px;
      height: 30px;
      font-size: 24px;
      line-height: 30px;
      text-align: center;
      cursor: pointer; }
    #team_options .added-columns .puzzle-collapsable-menu h5 {
      float: left;
      width: calc(100% - 60px);
      margin: 0;
      padding: 0 5px;
      font-size: 16px;
      line-height: 30px; }
    #team_options .added-columns .puzzle-collapsable-menu .fa-close {
      float: right;
      background-color: #aaa;
      border-radius: 50%;
      color: #fff; }
      #team_options .added-columns .puzzle-collapsable-menu .fa-close:hover {
        background-color: #555; }

/*# sourceMappingURL=admin-styles.css.map */
