/* Text */

h1, h2, h3, h4, h5, h6, th,
.dark-text-color-scheme h1,
.dark-text-color-scheme h2,
.dark-text-color-scheme h3,
.dark-text-color-scheme h4,
.dark-text-color-scheme h5,
.dark-text-color-scheme h6,
.dark-text-color-scheme th {
    color: #333;
}

body, p, li, td,
.dark-text-color-scheme,
.dark-text-color-scheme p,
.dark-text-color-scheme li,
.dark-text-color-scheme td {
    color: #555;
}

.light-text-color-scheme h1,
.light-text-color-scheme h2,
.light-text-color-scheme h3,
.light-text-color-scheme h4,
.light-text-color-scheme h5,
.light-text-color-scheme h6,
.light-text-color-scheme th {
    color: #fff;
}

.light-text-color-scheme,
.light-text-color-scheme p,
.light-text-color-scheme li,
.light-text-color-scheme td,
.light-text-color-scheme a {
    color: #fff;
}

/* Section Backgrounds */

.primary-color-background {
    background-color: #314887;
}

.secondary-color-background {
    background-color: #4b97e3;
}

/* Links */

a {
    color: #314887;
}

a:hover, a:active {
    color: #4b97e3;
}

/* Navigation Bar */

#nav {
    background-color: #fff;
    background-color: rgba(255,255,255, 0.9);
}

#nav a {
    color: #314887;
}

#dl-menu.dl-menuwrapper button {
    background: #314887;
}

#dl-menu.dl-menuwrapper ul,
#dl-menu.dl-menuwrapper button.dl-active,
#dl-menu.dl-menuwrapper button:hover,
#nav-menu ul ul {
    background: #314887;
}

#dl-menu.dl-menuwrapper button {
    background-color: #4b97e3;
}

#dl-menu.dl-menuwrapper li a {
    color: #fff;
}

#dl-menu.dl-menuwrapper li a:hover,
#dl-menu.dl-menuwrapper li a:active {
    color: #314887;
}

#dl-menu.dl-menuwrapper button:active,
#dl-menu.dl-menuwrapper li a:hover,
#dl-menu.dl-menuwrapper li a:active {
    background: #fff;
}

/* Footer */

#footer {
    background-color: #314887}

#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
    color: #fff;
}

#footer, #footer p, #footer li, #footer th, #footer td, #footer a {
    color: #fff}

/* Sections */

.owl-theme .owl-controls .owl-page.active span {
    background-color: #314887;
}

.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #4b97e3;
}

.puzzle-header .puzzle-header-text-background-primary-color {
    background-color:   rgba(49,72,135, 0.8);
    -webkit-box-shadow: 10px 0 0 rgba(49,72,135, 0.8), -10px 0 0 rgba(49,72,135, 0.8);
    -moz-box-shadow:    10px 0 0 rgba(49,72,135, 0.8), -10px 0 0 rgba(49,72,135, 0.8);
    box-shadow:         10px 0 0 rgba(49,72,135, 0.8), -10px 0 0 rgba(49,72,135, 0.8);
}

.puzzle-header .puzzle-header-text-background-secondary-color {
    background-color:   rgba(75,151,227, 0.75);
    -webkit-box-shadow: 10px 0 0 rgba(75,151,227, 0.75), -10px 0 0 rgba(75,151,227, 0.75);
    -moz-box-shadow:    10px 0 0 rgba(75,151,227, 0.75), -10px 0 0 rgba(75,151,227, 0.75);
    box-shadow:         10px 0 0 rgba(75,151,227, 0.75), -10px 0 0 rgba(75,151,227, 0.75);
}

.puzzle-header .puzzle-header-text-primary-color {
    color: #314887;
}

.puzzle-header .puzzle-header-text-secondary-color {
    color: #4b97e3;
}

.puzzle-accordions .column-inner > h5:first-child:hover .fa {
    color: #4b97e3;
}

.puzzle-features .column-inner > i:first-child, .puzzle-accordions .column-inner > h5:first-child i {
    color: #314887;
}

/* Buttons */

.puzzle-button,
input[type='button'],
input[type='submit'],
.puzzle-button.puzzle-button-secondary-color:hover,
.secondary-color-background .puzzle-button.puzzle-button-white:hover,
.secondary-color-background .puzzle-button.puzzle-button-secondary-color,
.categories .cat-item a,
.single-post-page-links a:hover,
.comment-reply-link,
a.page-numbers:hover,
#cancel-comment-reply-link,
#pagination a:hover {
    background-color: #314887;
    border-color: #314887;
    color: #fff;
}

.white-background .puzzle-button.puzzle-button-white,
#pagination a {
    border-color: #314887;
    color: #314887;
}

.puzzle-button.puzzle-button-white,
.primary-color-background .puzzle-button.puzzle-button-white {
    color: #314887;
}

.white-background .puzzle-button.puzzle-button-transparent {
    border-color: #4b97e3;
    color: #4b97e3;
}

.puzzle-button:hover,
.puzzle-button.puzzle-button-white:hover,
.puzzle-button.puzzle-button-transparent:hover,
input[type='button']:hover,
input[type='submit']:hover,
.puzzle-button.puzzle-button-secondary-color,
.primary-color-background .puzzle-button,
.primary-color-background input[type='button'],
.primary-color-background input[type='submit'],
.primary-color-background .puzzle-button.puzzle-button-white:hover,
.categories .cat-item a:hover,
#cancel-comment-reply-link:hover,
.comment-reply-link:hover {
    background-color: #4b97e3;
    border-color: #4b97e3;
    color: #fff;
}

.primary-color-background .puzzle-button:hover,
.primary-color-background input[type='button']:hover,
.primary-color-background input[type='submit']:hover,
.secondary-color-background .puzzle-button:hover,
.secondary-color-background input[type='button']:hover ,
.secondary-color-background input[type='submit']:hover {
    background-color: #fff;
    border-color: #fff;
    color: #314887;
}

/* Blog */

.puzzle-loop, .single-post-content, .single-post-content.comments-open, #pagination {
    border-color: #314887;
}

.single-post-page-links a, .page-numbers {
    color: #555}

/* Contact Form 7 */

.wpcf7-form div.wpcf7-response-output.wpcf7-mail-sent-ok {
    background-color: #314887;
    background-color: rgba(49,72,135, 0.5);
}

.primary-color-background .wpcf7-form div.wpcf7-response-output.wpcf7-mail-sent-ok {
    background-color: #4b97e3;
    background-color: rgba(75,151,227, 0.5);
}