/*----------*/
/* Comments */
/*----------*/

.comment {
    padding: rem($space-unit / 2) rem($space-unit / 2 + 5px);
    border-bottom: solid 1px $light-gray;
    list-style: none;
    
    &:last-child {
        border-bottom: 0;
    }
}

.comment-meta {
    a {
        text-decoration: none;
    }
}

.comment-reply-link, #cancel-comment-reply-link {
    @extend %wbg-button-small;
}

.page-numbers {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: $light-gray;
    text-decoration: none;
    
    &.current {
        background-color: $medium-gray;
        color: #fff;
    }
}

.comment-respond {
    margin-top: 2rem;
}

.comment-form {
    .comment-form-comment, .form-submit {
        margin: 0;
    }
}