/*--------*/
/* Footer */
/*--------*/

.main-footer {
    padding: $small-space-unit 0;
    background-color: $medium-gray;
    text-align: center;
    
    p {
        margin: $text-space-unit 0;
        
        &:first-child {
            margin-top: 0;
        }
        
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    @include breakpoint($size-md) {
        p {
            font-size: 1.4rem;
        }
    }
}