/*--------*/
/* Header */
/*--------*/

#header {
    position: relative;
    height: 225px;
    padding: ($small-nav-height + $small-space-unit) 0 ($small-space-unit + 0.5rem);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
    h1 {
        @include vertical-center-fix;
    }
    
    + main > section {
        &:first-child {
            padding-top: $small-space-unit;
        }
        
        &.no-padding-top:first-child {
            padding-top: 0;
        }
        
        &.no-padding-top:first-child {
            padding-top: $small-space-unit * 2;
        }
    }
    
    @include breakpoint($size-sm) {
        height: 300px;
        padding: ($small-nav-height + $space-unit) 0 $space-unit;
    }
    
    @include breakpoint($size-md) {
        height: 400px;
        padding: ($space-unit * 2 + $large-nav-height - 1rem) 0 ($space-unit * 2);
        
        + main > section {
            &:first-child {
                padding-top: $space-unit;
            }
        
            &.no-padding-top:first-child {
                padding-top: 0;
            }
        
            &.no-padding-top:first-child {
                padding-top: $space-unit * 2;
            }
        }
    }
    
    @include breakpoint($size-lg) {
        height: 600px;
    }
}

.home #header {
    position: relative;
    height: auto;
    padding: $space-unit 0;
    
    @include breakpoint($size-md) {
        @include display-flex;
        @include align-items(center);
        height: 100%;
        min-height: 400px;
        padding: 0;
        
        .row {
            @include flex(0 1 100%);
            
            .column:last-child {
                @include display-flex;
                
                .column-inner {
                    @include flex(0 1 100%);
                }
            }
        }
    }
    
    @include breakpoint($size-lg) {
        height: 100%;
        min-height: 650px;
    }
}

.home-buttons {
    position: relative;
    @include display-flex;
    
    .circle-button-container {
        @include flex(0 1 (100% / 3));
        padding: 5px;
        
        .circle-button {
            .circle-button-content {
                @include flex(0 1 60%);
            }
        }
        
        &:first-child .circle-button .circle-button-content {
            @include flex-basis(70%);
        }
        
        @include breakpoint($size-sm) {
            padding: 1rem;
        }
    
        @include breakpoint($size-md) {
            position: absolute;
        
            h4 {
                font-size: 1.6rem;
            }
        
            &:first-child {
                top: -2%;
                left: 0;
                right: 48%;
            }
        
            &:nth-child(2) {
                top: 12%;
                right: 0;
                left: 58%;
            }
        
            &:last-child {
                top: 57%;
                right: 29%;
                left: 29%;
            }
        }
    
        @include breakpoint($size-lg) {
            h4 {
                font-size: 2rem;
            }
            
            &:first-child {
                right: 51%;
                
                h4 {
                    font-size: 2.4rem;
                }
            }
        
            &:nth-child(2) {
                left: 60%;
            }
        
            &:last-child {
                right: 31%;
                left: 31%;
            }
        }
    }
}

$bubble-sizes: ('small': 200, 'medium': 325, 'large': 450);

.header-bubble {
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    opacity: 0;
    
    @each $size-name, $size in $bubble-sizes {
        &.#{$size-name}-header-bubble {
            width: #{$size}px;
            height: #{$size}px;
            margin-top: -#{$size / 2}px;
            margin-left: -#{$size / 2}px;
        }
    }
}

@mixin keyframes-bubble-burst() {
    @-webkit-keyframes bubble-burst {
        @content;
    }
    
    @-moz-keyframes bubble-burst {
        @content;
    }
    
    @keyframes bubble-burst {
        @content;
    }
}

@include keyframes-bubble-burst() {
    0%      { @include transform(scale(0) translateZ(0)); opacity: 1; }
    100%    { @include transform(scale(1) translateZ(0)); opacity: 0; }
}