/*--------*/
/* Header */
/*--------*/

#header {
    position: relative;
    height: 300px;
    padding: 80px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
    h1 {
        @include vertical-center-fix;
    }
    
    + main > section:first-child {
        padding-top: 30px;
    }
    
    @include breakpoint($size-md) {
        height: 400px;
        padding: 100px 0;
    }
    
    @include breakpoint($size-lg) {
        height: 600px;
    }
}

.home #header {
    height: auto;
    padding: 30px 0;
    
    @include breakpoint($size-md) {
        @include display-flex;
        @include align-items(center);
        height: 100%;
        min-height: 400px;
        padding: 0;
        
        .row {
            @include flex(0 1 100%);
            
            .column:last-child {
                @include display-flex;
                
                .column-inner {
                    @include flex(0 1 100%);
                }
            }
        }
    }
    
    @include breakpoint($size-lg) {
        height: 100%;
        min-height: 600px;
    }
}

.home-buttons {
    position: relative;
    @include display-flex;
    
    .circle-button-container {
        @include flex(0 1 (100% / 3));
        
        .circle-button {
            .circle-button-content {
                @include flex(0 1 60%);
            }
        }
        
        &:first-child .circle-button .circle-button-content {
            @include flex-basis(70%);
        }
    
        @include breakpoint($size-md) {
            position: absolute;
        
            &:not(:first-child) {
                h4 {
                    font-size: 2rem;
                }
            }
        
            &:first-child {
                top: -2%;
                left: 0;
                right: 48%;
            }
        
            &:nth-child(2) {
                top: 12%;
                right: 0;
                left: 58%;
            }
        
            &:last-child {
                top: 57%;
                right: 29%;
                left: 29%;
            }
        }
    
        @include breakpoint($size-lg) {
            &:first-child {
                right: 51%;
            }
        
            &:nth-child(2) {
                left: 60%;
            }
        
            &:last-child {
                right: 31%;
                left: 31%;
            }
        }
    }
}