/*------------*/
/* Posts Loop */
/*------------*/

.wbg-loop {
    @extend %clearfix;
    margin-bottom: $small-space-unit;
    padding: $small-space-unit;
    background-color: $light-gray;
    @extend %default-border-radius;
    
    h3, h5 {
        margin: ($text-space-unit / 2) 0;
        
        &:first-child {
            margin-top: 0;
        }
    }
    
    @include breakpoint($size-md) {
        .alignright {
            margin-top: ($text-space-unit * 3);
        }
    }
    
    .wbg-button {
        margin-top: 0;
    }
}