/*------------*/
/* Posts Loop */
/*------------*/

.puzzle-loop {
    @extend %clearfix;
    margin-bottom: 2rem;
    padding: 20px;
    background-color: $light-gray;
    @extend %default-border-radius;
    
    h3, h5 {
        margin: 0.5rem 0;
        
        &:first-child {
            margin-top: 0;
        }
    }
    
    .alignright {
        margin-top: 2rem;
    }
    
    .wbg-button {
        margin-top: 0;
    }
}