/*----------------*/
/* Navigation Bar */
/*----------------*/

.main-nav {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: rgba(#fff, 0.95);
    @include box-shadow(0px 2px 2px 0px rgba(#000, 0.05));
    transition: box-shadow 0.4s ease;
    
    &.no-logo {
        .vector-container {
            opacity: 0;
            visibility: hidden;
        }
    }
    
    &.no-shadow {
        background-color: transparent;
        @include box-shadow(none);
    }
    
    &.no-transition {
        transition: none;
    }
    
    .row {
        @include align-items(center);
        height: $small-nav-height;
        padding: 0.5rem 1.5rem;
        
        @include breakpoint($size-md) {
            height: $large-nav-height;
        }
    }
    
    .col:last-child {
        @include display-flex;
        @include justify-content(flex-end);
    }
    
    ul {
        margin: 0;
    }
    
    .vector-container {
        height: ($small-nav-height - 1rem);
        opacity: 1;
        @extend %default-transition;
        visibility: visible;
        
        svg {
            width: auto;
            height: 5rem;
            
            path {
                @extend %default-transition;
            }
        }
        
        @include breakpoint($size-md) {
            height: ($large-nav-height - 2rem);
            margin-left: 1.5rem;
            
            svg {
                height: ($large-nav-height - 2rem);
            }
        }
    }
    
    a {
        text-decoration: none;
        color: #fff;
    }
}

@include breakpoint(601px) {
    body.admin-bar .main-nav {
        top: 46px;
    }
}

@include breakpoint(783px) {
    body.admin-bar .main-nav {
        top: 32px;
    }
}

#dl-menu, .desktop-nav-menu {
    @include flex(0 1 auto);
}

/* Mobile menu */
#dl-menu.dl-menuwrapper {
    float: right;
    height: 45px;
    
    button, ul {
        right: 0;
    }
    
    button {
        position: absolute;
        top: 0;
        margin: 0;
        border-radius: 0;
        @include box-shadow(none);
        @extend %default-transition;
    }
    
    ul {
        @include box-shadow(0px 2px 2px 0px rgba(#000, 0.05));
        top: 50px;
        left: auto;
        width: 250px;
        
        li {
            margin: 0;
        }
    }
    
    a {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 1.2rem;
    }
    
    li.dl-back:after, li > a:not(:only-child):after {
        font-family: 'FontAwesome';
        font-size: 18px;
        line-height: 40px;
        content: '\f0da';
    }
}

/* Desktop menu */
.desktop-nav-menu {
    display: none;
    
    ul {
        margin: 0;
        list-style: none;
        text-align: right;
    
        li {
            position: relative;
            vertical-align: middle;
            display: inline-block;
            font-size: 1.6rem;
        
            a {
                display: block;
                padding: 10px 8px;
                
                @include breakpoint($size-lg) {
                    padding-right: $small-space-unit;
                    padding-left: $small-space-unit;
                }
            }
        }
        
        .menu-item-has-children {
            position: relative;
        }
        
        ul {
            position: absolute;
            visibility: hidden;
            top: 100%;
            left: 0;
            z-index: 1;
            width: 250px;
            background-color: $medium-gray;
            background-color: rgba($medium-gray, 0.9);
            text-align: left;
            @include box-shadow(0px 2px 2px 0px rgba(#000, 0.05));
            opacity: 0;
            transition: visibility 0.4s ease, opacity 0.4s ease;
            
            &.show {
                z-index: 2;
                visibility: visible;
                opacity: 1;
            }
            
            &.show-adjust {
                left: auto;
                right: 0;
            }
            
            li {
                display: block;
                
                &.menu-item-has-children > a {
                    padding-right: 2.5rem;
                    
                    &:after {
                        position: absolute;
                        top: 9px;
                        right: 10px;
                        display: block;
                        font-family: 'FontAwesome';
                        content: '\f0da';
                    }
                }
            }
            
            ul {
                top: 0;
                left: 100%;
                
                &.show-adjust {
                    left: -100%;
                }
            }
        }
    }
}

/* Social Media */
.nav-social-media {
    display: none;
    @include align-items(center);
    list-style: none;
    
    li {
        @include flex(0 1 auto);
        padding: 0 1rem;
    }
    
    a {
        display: block;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: $medium-gray;
        color: #fff;
        line-height: 2.8rem;
        text-align: center;
    }
}

@include breakpoint($size-md) {
    #dl-menu {
        display: none;
    }
    
    .desktop-nav-menu {
        display: block;
    }
    
    .nav-social-media {
        @include display-flex;
    }
}