/*------------*/
/* Pagination */
/*------------*/

#pagination {
    @include display-flex;
    margin: $small-space-unit 0;
    list-style: none;
    
    li {
        font-size: 1.4rem;
    }
    
    a {
        @include display-flex;
        @include flex-direction(column);
        @include justify-content(center);
        @include flex(0 0 75px);
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background-color: $medium-gray;
        line-height: 1.4;
        text-align: center;
        color: #fff;
        
        .fa {
            display: block;
            font-size: 30px;
            @include transition(all 0.4s ease);
        }
    }
    
    #newer-pages {
        a:hover {
            .fa {
                @include transform(translate(-15%, 0));
            }
        }
    }
    
    #older-pages {
        margin-left: auto;
        
        a:hover {
            .fa {
                @include transform(translate(15%, 0));
            }
        }
    }
}