/*------------*/
/* Pagination */
/*------------*/

#pagination {
    @extend %clearfix;
    margin: 0;
    padding: 15px 0;
    list-style: none;
    
    li {
        font-size: 1.4rem;
    }
    
    a {
        @include display-flex;
        @include flex-direction(column);
        @include justify-content(center);
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background-color: $medium-gray;
        line-height: 1.4;
        text-align: center;
        color: #fff;
        
        .fa {
            display: block;
            font-size: 30px;
        }
    }
    
    #newer-pages {
        float: left;
    }
    
    #older-pages {
        float: right;
    }
}