/*------------*/
/* Pagination */
/*------------*/

#pagination {
    @extend %clearfix;
    margin: 0;
    padding: 30px 0;
    border-top: solid 1px $medium-gray;
    list-style: none;
    
    li {
        display: inline-block;
        font-size: 18px;
        font-size: 1.8rem;
    }
    
    a {
        @extend %default-border-radius;
        display: inline-block;
        padding: 15px 25px;
        background-color: #fff;
        border: solid 2px $medium-gray;
        text-decoration: none;
        
        &:hover {
            background-color: $medium-gray;
            border-color: transparent;
            color: #fff;
        }
    }
    
    #newer-pages {
        float: left;
        
        .fa {
            margin-right: 5px;
        }
    }
    
    #older-pages {
        float: right;
        
        .fa {
            margin-left: 5px;
        }
    }
}