/*-----------------------------*/
/* Puzzle Team Members Section */
/*-----------------------------*/

.puzzle-team-members {
    .puzzle-team-member-picture {
        display: block;
        margin: 10px auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .puzzle-team-member-contact-info p {
        margin: 8px 0;
        margin: 0.8rem 0;
        line-height: 1;
        
        i {
            margin-right: 10px;
            font-size: 25px;
            font-size: 2.5rem;
            vertical-align: middle;
        }
    }
    
    .puzzle-social-links {
        a {
            display: inline-block;
            margin: 4px;
            text-align: center;
        
            .fa {
                font-size: 30px;
                line-height: 30px;
            }
        }
    }
}