/*-------------------------*/
/* Puzzle Features Section */
/*-------------------------*/

.puzzle-features {
    .puzzle-icon-link, .puzzle-main-icon {
        display: block;
        width: 60px;
        height: 60px;
        margin: 0 auto 30px auto;
        margin-bottom: 3rem;
    }
    
    .puzzle-main-icon {
        font-size: 36px;
        line-height: 60px;
        text-align: center;
    }
    
    .puzzle-icon-link {
        text-decoration: none;
    }
    
    .icon-column {
        .column-inner {
            @include display-flex;
            @include flex-direction(column);
            
            > * {
                @include flex(0 1 auto);
            }
            
            .puzzle-feature-column-content {
                @include flex-grow(1);
            }
            
            ul {
                margin-left: 0;
                padding: 0 1rem;
                list-style: none;
        
                li {
                    padding: 1rem 0;
                    border-top: solid 1px $medium-gray;
                
                    &:first-child {
                        border-top: 0;
                    }
                }
            }
        
            ol {
                text-align: left;
            }
        }
    
        .puzzle-feature-main-button {
            @include align-self(center);
            width: 80%;
        }
    }
    
    .icon-row {
        @extend %clearfix;
    }
}

@include breakpoint($size-sm) {
    .puzzle-features {
        .icon-row {
            .puzzle-main-icon, .puzzle-icon-link, .puzzle-feature-column-content {
                float: left;
            }
    
            .puzzle-feature-column-content {
                width: 60%;
                width: calc(100% - 90px);
            }
        }
    }
}