/*---------------------*/
/* Puzzle News Section */
/*---------------------*/

.puzzle-news {
    text-align: center;
}

.puzzle-news-section-headline {
    padding-bottom: 0;
    
    h3 {
        margin-bottom: 0;
    }
}

.puzzle-featured-story {
    @include display-flex;
    @include flex-direction(column);
    
    > * {
        @include flex(0 1 auto);
    }
    
    .puzzle-story {
        @include flex(1 1 auto);
        
        .puzzle-story-image {
            @include breakpoint($size-sm) {
                @include flex-basis(200px);
            }
            
            @include breakpoint($size-lg) {
                @include flex-basis(350px);
            }
        }
        
        .puzzle-story-content {
            padding-top: ($small-space-unit - 0.5rem);
            padding-bottom: ($small-space-unit + 0.5rem);
            
            .wbg-button {
                min-width: 60%;
            }
                
            @include breakpoint($size-lg) {
                h3 {
                    font-size: 2.6rem;
                }
                
                .wbg-button {
                    margin-top: $space-unit;
                }
            }
        }
    }
}