/*---------------------------*/
/* Puzzle Accordions Section */
/*---------------------------*/

.puzzle-accordions-content {
    padding: 15px 0;
    
    > .column {
        margin-top: 10px;
        padding: 0 15px;
        
        &:first-child {
            margin-top: 0;
        }
    }
    
    .column-inner {
        @extend %default-border-radius;
        @include transition(all 0.4s ease);
        background-color: #fff;
        background-color: rgba(#fff, 0.5);
        
        &:hover, &:active, &.active-accordion {
            background-color: #fff;
        }
        
        &.active-accordion {
            .puzzle-accordion-headline {
                .fa:before {
                    content: '\f056';
                }
            }
        }
    }
    
    .puzzle-accordion-headline {
        @extend %clearfix;
        margin: 0;
        cursor: pointer;
        
        span {
            float: left;
            display: block;
            width: 90%;
            width: calc(100% - 30px);
        }
    
        .fa {
            @include transition(all 0.4s ease);
            float: left;
            width: 30px;
            font-size: 24px;
            
            &:before {
                content: '\f055';
            }
        }
    }
    
    .puzzle-accordion-content {
        display: none;
    }
}

.white-background .puzzle-accordions-content .column-inner {
    background-color: $light-gray;
    background-color: rgba($light-gray, 0.5);
    
    &:hover, &:active, &.active-accordion {
        background-color: $light-gray;
    }
}