/*-------------------------------*/
/* Puzzle Call to Action Section */
/*-------------------------------*/

.puzzle-cta {
    text-align: center;
    
    .puzzle-button {
        width: 80%;
        margin: 0 10%;
        font-size: 20px;
        font-size: 2rem;
        text-transform: uppercase;
    }
    
    @include breakpoint($size-md) {
        text-align: left;
    }
    
    @include breakpoint ($size-lg) {
        .puzzle-button {
            width: 100%;
            margin: 0;
        }
    }
}