/*-----------------*/
/* Puzzle Sections */
/*-----------------*/

/* Section backgrounds */

.white-background {
    background-color: #fff;
}

/* Subsections inside each section */

.puzzle-section-headline {
    text-align: center;
    
    .column-inner {
        padding-bottom: 0;
        
        > *:first-child {
            margin-top: 0;
        }
        
        > *:last-child {
            margin-bottom: 0;
        }
    }
}

.puzzle-main-content {
    text-align: center;
    
    @include breakpoint($size-lg) {
        p {
            font-size: 2rem;
        }
    }
}

.puzzle-background-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
}

.vertical-center {
    .row:last-child {
        @include align-items(center);
    }
}

/* Used in news and blog sections */
.puzzle-stories {
    .column {
        @include display-flex;
    }
}

.puzzle-story {
    overflow: hidden;
    @include display-flex;
    @include flex-direction(column);
    @include flex(0 1 calc(100% - 10px));
    margin: 5px;
    padding: 0;
    @extend %default-border-radius;
    background-color: $light-gray;
    text-align: center;
    
    .puzzle-story-image {
        position: relative;
        @include flex(0 1 140px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .puzzle-story-content {
        @include display-flex;
        @include align-items(center);
        @include flex-direction(column);
        @include justify-content(center);
        @include flex(1 1 auto);
        padding: 10px 10px 20px;
        
        > * {
            @include flex(0 1 auto);
        }
        
        h1, h2, h3, h4, h5, h6, p, ul, ol {
            margin: 0.5rem 0;
        }
        
        h6 {
            font-size: 1.4rem;
        }
        
        p {
            font-size: 1.2rem;
            line-height: 1.5;
            text-align: left;
        }
        
        .wbg-button {
            margin-top: 1rem;
        }
    }
    
    @include breakpoint($size-md) {
        @include flex(0 1 calc(100% - 30px));
        margin: 15px;
        
        .puzzle-story-content {
            h4 {
                font-size: 1.8rem;
            }
            
            h6 {
                font-size: 1.6rem;
            }
            
            p {
                font-size: 1.4rem;
            }
        }
    }
    
    @include breakpoint($size-lg) {
        .puzzle-story-content {
            padding-left: 15px;
            padding-right: 15px;
            
            h4 {
                font-size: 2rem;
            }
        }
    }
}

.alternative-background .puzzle-story {
    background-color: #fff;
}

/*
 * The sections
 */

.puzzle-features, .puzzle-games, .puzzle-team, .align-items-center {
    .puzzle-columns-content {
        @include justify-content(center);
    }
}

.align-items-left .puzzle-columns-content {
    @include justify-content(flex-start);
}

.align-items-right .puzzle-columns-content {
    @include justify-content(flex-end);
}

.puzzle-games, .puzzle-team {
    .puzzle-columns-content {
        padding: 0 15px 10px;
    
        .column-inner {
            width: 100%;
            margin: 0;
            padding: 5px;
        
            @include breakpoint($size-sm) {
                padding: 10px;
            }
        }
    }
}