/*-----------------*/
/* Puzzle Sections */
/*-----------------*/

/* Section backgrounds */

.white-background {
    background-color: #fff;
}

/* Subsections inside each section */

.puzzle-section-headline {
    text-align: center;
    
    .column-inner {
        padding-bottom: 0;
        
        > *:first-child {
            margin-top: 0;
        }
        
        > *:last-child {
            margin-bottom: 0;
        }
    }
}

.puzzle-main-content {
    text-align: center;
    
    @include breakpoint($size-lg) {
        p {
            font-size: 2rem;
        }
    }
}

.puzzle-background-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
}

.vertical-center {
    .row:last-child {
        @include align-items(center);
    }
}

/*
 * The sections
 */

.puzzle-features, .puzzle-games, .puzzle-team, .align-items-center {
    .puzzle-columns-content {
        @include justify-content(center);
    }
}

.align-items-left .puzzle-columns-content {
    @include justify-content(flex-start);
}

.align-items-right .puzzle-columns-content {
    @include justify-content(flex-end);
}

.puzzle-games, .puzzle-team {
    .puzzle-columns-content {
        padding: 0 15px 10px;
    
        .column-inner {
            width: 100%;
            margin: 0;
            padding: 5px;
        
            @include breakpoint($size-sm) {
                padding: 10px;
            }
        }
    }
}

.puzzle-one-column {
    .puzzle-columns-content {
        .column-inner {
            @extend %default-border-radius;
            
            &.white-background {
                background-color: rgba(#fff, 0.85);
            }
        }
    }
}