/*----------*/
/* Comments */
/*----------*/

.commentlist {
    .comment {
        padding: 10px 15px;
        padding: 2rem 3rem;
        border-bottom: solid 2px $light-gray;
        
        &:last-child {
            border-bottom: 0;
        }
    }
    
    .comment-meta {
        a {
            text-decoration: none;
        }
    }
    
    .comment-reply-link {
        @extend .nova-button;
        margin-left: 0;
        margin-right: 0;
        line-height: 1;
    }
    
    .children {
        list-style: none;
    }
}

.navigation {
    @extend %clearfix;
    
    a {
        text-decoration: none;
    }
}