/*-------------------*/
/* Editable Sections */
/*-------------------*/

.wbg-edit-section-button {
    display: block;
    position: absolute;
    bottom: -30px;
    right: 30px;
    width: 70px;
    height: 70px;
    background-color: #333;
    background-color: rgba(#333, 0.8);
    border-radius: 50%;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
    color: #fff;

    &:hover {
        background-color: #333;
        color: #fff;
    }
}