/*--------*/
/* Footer */
/*--------*/

#footer {
    background-color: $wbg-blue2;
    text-align: center;
    
    h1, h2, h3, h4, h5, h6, p, li, th, td {
        color: #fff;
    }
    
    a {
        color: $wbg-light-blue;
        
        &:hover, &:active {
            color: #fff;
        }
    }
}