/*----------------*/
/* Navigation Bar */
/*----------------*/

#nav {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: $wbg-blue2;
    background-color: rgba($wbg-blue2, 0.9);
    
    .row {
        display: table;
        width: 100%;
        min-height: 70px;
        padding: 5px;
        
        .column {
            display: table-cell;
            float: none;
            vertical-align: middle;
        }
    }
    
    ul {
        margin: 0;
    }
    
    a {
        font-size: 12px;
        font-size: 1.2rem;
        letter-spacing: 1px;
        letter-spacing: 0.1rem;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
    }
}

/* Mobile menu */
#dl-menu.dl-menuwrapper {
    float: right;
    
    button, ul {
        right: 15px;
    }
    
    button {
        @include transition(all, 0.4s, ease);
        position: absolute;
        top: -25px;
        background-color: lighten($wbg-blue, 20%);
        
        &:hover, &:active {
            background-color: $wbg-light-blue;
        }
    }
    
    ul {
        top: 25px;
        width: 250px;
        background-color: $wbg-blue;
        
        li {
            float: left;
            width: 50%;
            margin: 0;
        }
    }
}

/* Desktop menu */
#nav-menu {
    display: none;
    
    ul {
        list-style: none;
        text-align: center;
    
        li {
            display: inline-block;
        
            a {
                display: block;
                padding: 10px 15px;
        
                &:hover, &:active {
                    color: $wbg-yellow;
                }
            }
        }
    }
}