/*---------*/
/* Sidebar */
/*---------*/

#sidebar {
    .sidebar-widget {
        @extend %default-border-radius;
        margin: 30px 0;
        margin: 3rem 0;
        padding: 15px 20px;
        border: solid 2px $wbg-light-blue;
        
        &:first-child {
            margin-top: 0;
        }
    }
    
    ul {
        margin-left: 0;
        list-style: none;
        
        li {
            padding: 10px 0;
            padding: 1rem 0;
            border-bottom: solid 1px $wbg-light-blue;
            
            &:last-child {
                border-bottom: 0;
            }
        }
        
        a {
            text-decoration: none;
        }
    }
}