/*------------------------------*/
/* Time Enough At Last Sections */
/*------------------------------*/

/* Subsections inside each section */
.wbg-main-content {
    .section-headline {
        text-align: center;
    }
}

.wbg-area {
    position: relative;
    margin: 0 15px;
    padding: 15px 30px;
}

/*
 * The sections
 */

