/*----------*/
/* Sections */
/*----------*/

/* Subsections inside each section */
.section-headline {
    padding-bottom: 0;
    text-align: center;
    
    h1, h2 {
        margin-top: 0;
    }
}

.wbg-area {
    position: relative;
    margin: 0 15px;
    padding: 15px 30px;
    border-radius: 20px;
    
    &.wbg-area-white-background {
        background-color: #fff;
        background-color: rgba(#fff, 0.9);
    }
    
    &.wbg-area-light-blue-background {
        background-color: $light-gray;
        background-color: rgba($light-gray, 0.9);
    }
    
    &.wbg-area-blue-background {
        background-color: $wbg-blue2;
        background-color: rgba($wbg-blue2, 0.9);
    }
    
    &.wbg-area-black-background {
        background-color: #000;
        background-color: rgba(#000, 0.9);
    }
}

/*
 * Section backgrounds
 */

.white-background {
    background-color: #fff;
}

.gray-background {
    background-color: $light-gray;
}

.light-blue-background {
    background-color: $wbg-light-blue;
}

.blue-background {
    background-color: $wbg-blue2;
}

/*
 * Sections
 */

.wbg-news .wbg-news-content, .wbg-blog-posts .wbg-blog-posts-content {
    @extend %display-flex;
    @include flex-wrap(wrap);

    > .column {
        @extend %display-flex;
        @include flex(0, 1, auto);
    }

    .wbg-area {
        @include flex(1, 1, auto);
    }
}

.wbg-news .wbg-news-story-feature, .wbg-news .wbg-news-story, .wbg-blog-posts .wbg-blog-post {
    .wbg-area {
        margin: 30px 15px;
    }
}

.wbg-news .wbg-news-story, .wbg-news .wbg-news-view-all,
.wbg-blog-posts .wbg-blog-post, .wbg-blog-posts .wbg-blog-posts-view-all {
    text-align: center;
}

.wbg-news .wbg-news-story, .wbg-blog-posts .wbg-blog-post {
    .wbg-area {
        @extend %default-border-radius;
        padding-bottom: 90px;
        background-color: lighten($wbg-light-blue, 10%);
        
        .wbg-button {
            position: absolute;
            left: 15%;
            bottom: 30px;
            width: 70%;
        }
    }
}

.wbg-news {
    .wbg-news-story-featured {
        .wbg-area {
            background-color: lighten($wbg-light-blue, 20%);
        }
    }
}