/*----------*/
/* Sections */
/*----------*/

/* Subsections inside each section */
.wbg-main-content {
    .section-headline {
        padding-bottom: 0;
        text-align: center;
        
        h2 {
            margin-top: 0;
        }
    }
}

.wbg-area {
    position: relative;
    margin: 0 15px;
    padding: 15px 30px;
    border-radius: 20px;
    
    &.wbg-area-white-background {
        background-color: #fff;
        background-color: rgba(#fff, 0.9);
    }
    
    &.wbg-area-light-blue-background {
        background-color: $light-gray;
        background-color: rgba($light-gray, 0.9);
    }
    
    &.wbg-area-blue-background {
        background-color: $wbg-blue2;
        background-color: rgba($wbg-blue2, 0.9);
    }
    
    &.wbg-area-black-background {
        background-color: #000;
        background-color: rgba(#000, 0.9);
    }
}

/*
 * Section backgrounds
 */

.white-background {
    background-color: #fff;
}

.gray-background {
    background-color: $light-gray;
}

.light-blue-background {
    background-color: $wbg-light-blue;
}

.blue-background {
    background-color: $wbg-blue2;
}